<div id="headerMain">

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/">HRMarionette</a>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/hashimotoryoh/HRMarionette" target="_blank">View on GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
