<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>
      HRMarionette is a JavaScript framework for front-end development.
      Based on Marionette.js (and Backbone.js), a basic screen transition flow, preparing the communication client class and
      implementing a template set by Handlebars.js, ... we also provide several functions to facilitate front-end development.
      HRMarionette is an open sorce software and MIT license.
    </p>
    <p>
      「HRMarionette」はフロントエンド開発用のJavaScriptフレームワークです。
      Marionette.js(及びBackbone.js)を基盤に、基本的な画面遷移フローや、通信クライアントクラスを用意し、
      またHandlebars.jsによるテンプレート組みを実装するなど、フロントエンドの開発を容易にする為のいくつかの機能を提供します。
      HRMarionetteはオープンソースのMITライセンスです。
    </p>
    <a class="btn btn-primary btn-lg" href="https://github.com/hashimotoryoh/HRMarionette" target="_blank" role="button">Learn more »</a>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <h2>Views</h2>
      <p>
        It is responsible for manipulating views and receiving events from views such as clicks and drags.
        We will also tell them to the view model. Basically, deep logic processing is not done.
      </p>
      <p>
        ビューの操作や、クリックやドラッグなどのビューからのイベントを受け取る処理などを担います。
        また、それらをビューモデルに伝えます。基本的には、深いロジック処理はしません。
      </p>
    </div>

    <div class="col-lg-4 col-md-4">
      <h2>View Models</h2>
      <p>
        It plays deep logic parts such as preprocessing necessary data, computing values,
        transitioning pages by conditional branching mainly for rendering pages.
      </p>
      <p>
        主にページを描画する為に必要データの事前処理や、値の計算、条件分岐によるページ遷移など、深いロジックの部分を担います。
      </p>
    </div>

    <div class="col-lg-4 col-md-4">
      <h2>Templates</h2>
      <p>
        Draw the UI based on the data passed from the view model. It does not have logic.
      </p>
      <p>
        ビューモデルから渡されたデータに基づきUIを描画します。ロジックは持ちません。
      </p>
    </div>
  </div>

</div>
